.page-element {
  padding: 8px;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #424d48;
  border: solid 2px;
  border-radius: 6px;
}

#welcome {
  font-size: larger;
}

.epic-item {
  margin-top: 0.7em;
}
