/* Colors */

:root {
  --main-color: #d29595;
  --green: palegreen;
  --blue: #7aafdb;
  --red: lightcoral;
}

.normal {
  color: var(--main-color);
}

.red {
  color: var(--red);
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.bg-green {
  background-color: var(--green);
  border-color: var(--green);
}

/* tag */

html,
body {
  margin: 0;
  padding: 0;
  color: var(--main-color);
}

header {
  padding: 0 9px;
  flex: none;
}

body {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-height: 100vh;
  height: 100vh;
  overflow-y: clip;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 23px;
  min-height: 5vh;
}

footer {
  padding: 9px;
  flex: none;
}

button {
  background-color: hsl(204, 7.7%, 25.5%);
  border: solid 2px;
  border-radius: 6px;
  width: 7em;
  font-size: 0.6em;
  cursor: pointer;
}

/* identifier */

#epic-detail {
  max-height: 40%;
  overflow-y: scroll;
}

/* class */

.clickable {
  cursor: pointer;
}

.container {
  background-color: #3f444f;
  border: solid 2px;
  border-radius: 6px;
}

.container-toolbar {
  padding: 6px 7px;
  background-color: #4a4857;
  font-size: 1.2em;
  border-bottom: solid 1px;
  gap: 11px;
  display: flex;
}

.description {
  margin: 5px 0;
}

.error-msg {
  background-color: #422c33;
  border: solid 2px red;
  border-radius: 6px;
  margin: 0 1px;
  padding: 10px 9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.head-container {
  font-size: larger;
  padding: 6px 8px;
  flex: none;
}

.head-container form {
  display: flex;
}

.head-container h1 {
  font-size: 1.1em;
  margin: 0 auto;
}

.head-container p {
  font-size: 0.7em;
  margin: 2px 0;
}

.list-item .item-description {
  max-height: 4em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.list-item {
  font-size: 0.8em;
  padding: 10px 8px;
}

.list-item h1 {
  font-size: 1.1em;
  margin-top: 0;
}

.list-item > * {
  margin: 4px 0;
}

.scrollable-container {
  max-height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.scrollable-list {
  overflow-y: scroll;
  max-height: 100%;
}

.scrollable-list > div:not(:last-child) {
  border-bottom: solid 1px;
}

.scrollable-list > div:nth-child(odd) {
  background-color: #334246;
}

.scrollable-list > div:nth-child(even) {
  background-color: #46444f;
}

.story-control {
  display: flex;
  gap: 1em;
}

.story-control p {
  margin: 2px 0;
}

.toolbar {
  display: flex;
  gap: 10px;
  padding-top: 6px;
}
