/* Colors */

.red {
  color: lightcoral;
}

.blue {
  color: steelblue;
}

.green {
  color: palegreen;
}


/* tag */

html, body {
  margin: 0;
  padding: 0;
}

header {
  padding: 0 9px;
  flex: none;
}

body {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  overflow-y: clip;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 5vh;
}

footer {
  padding: 9px;
  flex:none;
}

button {
  background-color: hsl(204, 7.7%, 25.5%);
  border: solid 2px;
  border-radius: 6px;
  padding: 0.4em auto;
  width: 7em;
  margin-top: 0.5em;
  font-size: 0.6em;
  cursor: pointer;
}


/* others */

.clickable {
  cursor: pointer;
}

.container {
  background-color: #3f444f;
  border: solid 2px;
  border-radius: 6px;
}

.container-toolbar {
  padding: 3px 7px 6px;
  background-color: #4a4857;
  font-size: 1.2em;
  border-bottom: solid 1px;
  gap: 11px;
  display: flex;
}

.epic-item .epic-description {
  max-height: 4em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.epic-item {
  font-size: 0.8em;
  padding: 10px 8px;
}

.epic-item h1 {
  font-size: 1.1em;
  margin-top: 0;
}

.epic-item p {
  margin: 2px 0;
}

#epic-container {
  margin-top: 22px;
  max-height: 100%;
  overflow-y: hidden;
}

#epic-list {
  overflow-y: scroll;
  max-height: 100%;
}

#epic-list div:not(:last-child) {
  border-bottom: solid 1px;
}

#epic-list div:nth-child(odd) {
  background-color: #334246;
}

#epic-list div:nth-child(even) {
  background-color: #46444f
}

.error-msg {
  background-color: #422c33;
  border: solid 2px red;
  border-radius: 6px;
  margin: 0 1px;
  padding: 10px 9px;
}

#toolbar {
  display: flex;
  gap: 10px;
}

#welcome {
  font-size: larger;
  padding: 13px 7px;
  flex: none;
}

#welcome h1 {
  font-size: 1.1em;
  margin: 0;
  margin-bottom: 6px;
}

#welcome p {
  font-size: 0.7em;
  margin: 2px 0;
}
