{% extends "base.html" %}
{% load static %}
{% block head %}
{% endblock %}
{% block content %}
<header class="page-element">
  <h1>New Story</h1>
</header>
<main>
  <div class="head-container toolbar container">
    <button class="green" onclick="location.href='/'">Home</button>
    <form action="{% url 'rest_framework:logout' %}?next=/" method="post">
      {% csrf_token %}
      <button type="submit" class="red">Log out</button>
    </form>
  </div>
  {% if domain_error %}
  <div class="error-msg">
    {{ domain_error }}
  </div>
  {% endif %}
  {% include "form.html" with form=form %}
</main>
{% endblock %}
